<section id="about" class="container content-section text-center about-section">
    <div class="row">
        <div class="col-sm-2 col-lg-2 col image-section-personal">
            <img class="personal-picture" alt="Jack" />
        </div>
        <div class="col-sm-2 col-lg-8 about-section-text">
            <h2>About Me</h2>
            <p>Brain Block</p>
            <p>BRAIN BLOC</p>
            <p>BLOCCKED BBBRRAIN</p>
        </div>
    </div>
    <div class="down-arrow down-arrow-about">
        <a href="#download" class="btn btn-circle page-scroll">
            <i class="fa fa-arrow-down animated fa-icon-arrow-down"></i>
        </a>
    </div>
</section>
