<section id="about" class="container content-section text-center about-section">
    <div class="row">
        <div class="col-sm-2 col-lg-2 col image-section-personal">
            <img class="personal-picture" alt="Jack" />
        </div>
        <div class="col-sm-2 col-lg-8 about-section-text">
            <h2>About Me</h2>
            <p>I'm a solution oriented web developer, who used to be a marketer.</p>
            <p>I've spent past years working on spreading ideas and products to the people that care about them,</p>
            <p>which has trained me to always be thinking about the end-user.</p>
            <p>I decided to become a web developer and have been loving it ever since.</p>
        </div>
    </div>
</section>
