<section id="contact" class="container content-section text-center contact-section-download">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 contact-section">
            <h2>Contact Jack</h2>
            <p>Feel free to get in touch with me for feedback, interesting articles, books, or opportunities!</p>
            <ul class="social-media">
              <li>
                <%= link_to "https://www.linkedin.com/in/jackschuss", target: "_blank" do %>
                  <i class="fa fa-linkedin fa-3x"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://github.com/yakschuss", target: "_blank" do %>
                  <i class="fa fa-github fa-3x"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "mailto:j@jackschuss.com", target: "_blank" do %>
                  <i class="fa fa-envelope-o fa-3x"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://twitter.com/yakschuss", target: "_blank" do %>
                  <i class="fa fa-twitter fa-3x"></i>
                <% end %>
              </li>

            </ul>
            <div class="col-md-12">
              <p class="copyright text-center">&copy; 2016 by <a target="_blank">Jack Schuss</a>. All Rights Reserved.
              </p>
            </div>
        </div>
    </div>
</section>
