<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 contact-section">
            <h2>Contact Jack</h2>
            <p>Feel free to get in touch with me for feedback, interesting articles, books, or opportunities!</p>
            <p><a href="mailto:j@jackschuss.com">j@jackschuss.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/yakschuss" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/yakschuss" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://linkedin.com/in/jackschuss" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
