<section id="download" class="content-section content-section-download text-center">
    <div class="download-section">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="portfolio-text">
                    <h2>Portfolio</h2>
                    <p>Here are some of the projects I've worked on recently. All source code can be found on my <a href="http://www.github.com/yakschuss">Github.</a></p>
                </div>
            </div>
        </div>
            <div class="row">
                <h6>
                    All projects made with:
                </h6>
                <i class="devicon-ruby-plain devicon-icon-style"></i>
                <i class="devicon-rails-plain devicon-icon-style"></i>
                <i class="devicon-javascript-plain devicon-icon-style"></i>
                <i class="devicon-jquery-plain devicon-icon-style"></i>
                <i class="devicon-angularjs-plain devicon-icon-style"></i>
            </div>
        </div>
    </div>
</section>
