<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>
                        <b>Hi! My name is Jack. I'm a FullStack Web Developer.</b>
                    </h3>
                    <p class="intro-text"><br></p>
                    <div class="down-arrow">
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-chevron-down animated fa-icon-arrow-down fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
