<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>
                        <b>Hi! My name is Jack. I'm a FullStack Web Developer.</b>
                    </h3>
                    <p class="intro-text"><br></p>
                </div>
            </div>
        </div>
    </div>
</header>
