<div class="thank-you-page">
  <div class="container">
    <div class="row">
      <div class="jumbotron">
      <h2 class="header">
        Thank you so much for reaching out. Jack will get in touch shortly.
        </h2>
      </div>
    </div>
  </div>
</div>

<script>
  (function(){
        setTimeout(function() {
                window.location='/'
                      }, 3000);
          })(); 
</script>
