<article id="<%= blog_post.slug %>">
  <header>
    <h1><%= link_to blog_post.title, blog_post_path(blog_post.slug) %></h1>
    <em>Written on <%= blog_post.written_on %></em>
  </header>

  <p><%= blog_post.preview %></p>
</article>
