<div class="blog-index">
  <div class="blog-title">
    <h2 class="header">Jack Schuss - Musings</h2>
  </div>



  <div class="posts-div">
    <ul class="post-list">
      <% @posts.each do |post| %>
        <li class="rename-color" style="color:black;">
          <%="#{post.created_at.strftime("%b %d '%y")} "%> <%= link_to " #{post.title}", post_path(post), class: "post-title" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
