// Place all the styles related to the ContactForm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form-section 
  height: 300px
  width: 100%
  margin-top: 70px

  .contact-form
    width: 50%
    margin: 0 auto
    text-transform: uppercase
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif

    h2
      color: #666666
      text-align: center

    .body
      height: 200px

    .btn-success
      background-color: #42dca3

  .jumbotron
    text-transform: none
    margin-top: 50px
    margin-left: 50px
  .header
    margin: 0 auto

 
 
    
.thank-you-page
  width: 80%

  h2
    color: #666666

 
